@{
    ViewData["Title"] = "About Us";
}
    
    <body class="about-page">      
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-solid"></div>
        </div><!--//hero-wrapper--> 
        <div class="container heading-content">                
            <h2 class="headline">About Our Research</h2>
            <div class="intro">BYU has been doing research in the Fag -el Gamous region located in Egypt for 25 years collecting data about the burial sites loacated here. So far over 1000 burials have been discovered! Helping us to unlock the mysteries of the past. </div>
            <div class="actions">
               <a class="scrollto-no-offset scrollto" href="#team-block">Meet the team</a>
               <a class="scrollto-no-offset scrollto" href="#team-block"><img src="assets/images/arrow-icon.svg" alt=""></a>
           </div><!--//actions-->
       </div><!--//container-->
   </section><!--//heading-section-->
   
   <div id="team-block" class="team-block">
    <div class="container">
        <h2 class="block-heading text-center">Our Team</h2>
        <div class="block-intro text-center">Our team consists of four hard working students studying Information Systems at the Marriott School of Business.</div>
        <div class="block-cta text-center">
            <a class="btn btn-secondary" href="career.html">Want to Join Us?</a>
        </div>
        <div class="row">
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <img class="img-fluid" src="assets/images/team/KerryMuhlestein.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Kerry Muhlestein</div>
                        <div class="title">LDS Apologist</div>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
                        </ul><!--//social-->    
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <img class="img-fluid" src="assets/images/team/PaulEvans.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Paul Evans</div>
                        <div class="title">BYU Researcher</div>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
                            
                        </ul><!--//social-->    
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</div><!--//team-block-->
</body>