@{
    ViewData["Title"] = "Home Page";
}

@*A professional-looking landing page that describes the project and has a link to view the burial information*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">
</head>

<body>
    <section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item active slide slide-1"></div>
                    <div class="carousel-item slide slide-2"></div>
                    <div class="carousel-item slide slide-3"></div>
                </div>
            </div><!--//hero-carousel-->
            <div class="hero-slider-mask"></div>
        </div><!--//hero-slider-wrapper-->
        <div class="container promo-content">
            <h2 class="headline">Fag el-Gamous Cemetery Database <br> BYU Egypt Excavation Project</h2>
            <p class="tagline">Good databasing is good research, check out our data!</p>
            <div class="actions">
                <!-- <a class="btn btn-cta btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#signup">Burial Summary List & Records</a>-->
                <a class="btn btn-cta btn-primary" asp-action="Burial">Burial Summary List & Records</a>
                <br class="d-sm-inline-block d-md-none">
                <a href="#" class="video-play-trigger" data-bs-toggle="modal" data-bs-target="#modal-video"><img class="play-icon" src="assets/images/play-icon.svg" alt="">See mummification in action!</a>
            </div>
        </div><!--//container-->
    </section><!--//promo-section-->

    <div class="sections-wrapper">

        <section id="overview-section" class="overview-section section">
            <h2 class="section-title">
                Why We Research:
            </h2>
            <div class="section-intro">
                The purpose of this research is...
            </div><!--//section-intro-->
            <div class="figures-wrapper">
                <div class="container text-center">
                    <figure class="macbook-screen"><img class="img-fluid" src="assets/images/macbook-screen.png" alt=""></figure>
                    <figure class="ipad-screen"><img class="img-fluid" src="assets/images/ipad-screen.png" alt=""></figure>
                    <figure class="iphone-screen"><img class="img-fluid" src="assets/images/iphone-screen.png" alt=""></figure>
                    <a href="#" class="play-icon video-play-trigger" data-bs-toggle="modal" data-bs-target="#modal-video"><img src="assets/images/play-icon-md.svg" alt=""></a>
                </div><!--//container-->
            </div><!--//figures-wrapper-->
            <div class="benefits-wrapper">
                <div class="container text-center">
                    <div class="row">
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/clock-white.svg" alt="">
                                <h3 class="item-title">10X Faster Database Management</h3>
                                <div class="item-desc">
                                    Not having to write everything on a peice of paper has it's benefits.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/presenter-white.svg" alt="">
                                <h3 class="item-title">Increase Productivity</h3>
                                <div class="item-desc">
                                    With better tools for understanding, creating, and managing research, comes better productivity.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/chat-white.svg" alt="">
                                <h3 class="item-title">Better Collabration</h3>
                                <div class="item-desc">
                                    Better communication equals better research. And better research means a better learning experience.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//benefits-->
            <div class="press-wrapper">
                <div class="container">
                    <div class="logos row">
                        <div class="logo col-6 col-md-3"><img class="img-fluid" src="assets/images/logos/logo-1.svg" alt="BYU Logo"></div>
                        <div class="logo col-6 col-md-3"><img class="img-fluid" src="assets/images/logos/logo-2.svg" alt="BYU Marriott School Logo"></div>
                        <div class="logo col-6 col-md-3"><img class="img-fluid" src="assets/images/logos/logo-3.svg" alt="BYU Humanities"></div>
                    </div>
                </div><!--//container-->
            </div><!--//press-wrapper-->
        </section><!--//overview-section-->

        <section id="features-section" class="features-section section">
            <h2 class="section-title">
                Key Features
            </h2>
            <div class="container">
                <div class="row">
                    <div class="features-content-wrapper col-12 col-md-7 com-lg-7">
                        <div class="intro">
                            Our database offers many great things for BYU researchers whether it be for collecting data on mummies or any other endeavour.
                        </div><!--//intro-->
                        <ul class="feature-list list-unstyled">
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature one lorem ipsum dolor sit amet.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature two lorem ipsum dolor sit amet.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature three lorem ipsum dolor sit amet.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature four lorem ipsum dolor sit amet.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature five lorem ipsum dolor sit amet.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Feature six lorem ipsum dolor sit amet.</li>
                        </ul><!--//feature-list-->

                        <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
                            <!--//wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item item active">
                                    <blockquote class="review center-block">
                                        <i class="fas fa-quote-left"></i>
                                        <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </blockquote><!--//review-->
                                    <div class="source">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div><!--//rating-->
                                        <img class="profile" src="assets/images/users/user-1.png" alt="" />
                                        <div class="name">Theresa Wood, Product Hunt</div>
                                    </div><!--//source-->
                                </div><!--//item-->

                                <div class="carousel-item item">
                                    <blockquote class="review center-block">
                                        <i class="fas fa-quote-left"></i>
                                        <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </blockquote><!--//review-->
                                    <div class="source">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div><!--//rating-->
                                        <img class="profile" src="assets/images/users/user-2.png" alt="" />
                                        <div class="name">Rob Kim, Mashable</div>
                                    </div><!--//source-->
                                </div><!--//item-->

                                <div class="carousel-item item">
                                    <blockquote class="review center-block">
                                        <i class="fas fa-quote-left"></i>
                                        <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </blockquote><!--//review-->
                                    <div class="source">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div><!--//rating-->
                                        <img class="profile" src="assets/images/users/user-3.png" alt="" />
                                        <div class="name">Kevin Howell, Wired</div>
                                    </div><!--//source-->
                                </div><!--//item-->

                            </div><!--//carousel-inner-->
                            <!--//Indicators-->
                            <ol class="carousel-indicators">
                                <li data-bs-target="#reviews-carousel" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#reviews-carousel" data-bs-slide-to="1"></li>
                                <li data-bs-target="#reviews-carousel" data-bs-slide-to="2"></li>
                            </ol>

                        </div><!--//reviews-carousel-->
                    </div><!--//features-content-wrapper-->
                </div><!--//row-->
            </div><!--//container-->

            <div class="features-figure-wrapper">
                <img class="img-fluid" src="assets/images/imac-screen.png" alt="">
            </div><!--//features-figure-wrapper-->

            <div class="action-wrapper text-center">
                <a href="features.html" class="btn btn-secondary">View all features</a>
            </div>

        </section><!--//features-section-->


        <section id="support-section" class="support-section section text-center">
            <h2 class="section-title">24/7 Customer Support</h2>
            <div class="section-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
            <a class="btn btn-secondary" href="support.html">Our Support Center</a>
            <div class="team-figure">
                <img class="img-fluid support-team" src="assets/images/team.png" alt="">
            </div><!--//team-figure-->
        </section><!--//support-section-->

        <section class="apps-section section text-center">
            <h2 class="section-title">Download Our Apps</h2>
            <div class="container">
                <ul class="apps-list list-inline">
                    <li class="list-inline-item"><a class="btn btn-download-app btn-apple-download" href="#"><i class="fab fa-apple"></i> <span class="btn-text"><span class="intro-text">Download on the</span><span class="main-text">App Store</span></span></a></li>
                    <li class="list-inline-item"><a class="btn btn-download-app btn-andriod-download" href="#"><i class="fab fa-android"></i> <span class="btn-text"><span class="intro-text">Get it on</span><span class="main-text">Google Play</span></span></a></li>
                    <li class="list-inline-item"><a class="btn btn-download-app btn-windows-download" href="#"><i class="fab fa-windows"></i> <span class="btn-text"><span class="intro-text">Download from</span><span class="main-text">Windows Phone Store</span></span></a></li>
                </ul><!--//apps-list-->
            </div><!--//container-->
        </section><!--//apps-section-->

    </div><!--//section-wrapper-->
    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="assets/plugins/smoothscroll.min.js"></script>

    <script src="assets/js/main.js"></script>

    <!--//Page Specific JS -->
    <script src="assets/js/video.js"></script>
</body>
</html>

