@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CarbonDating>

@*A landing page that describes the project and has a link to view the burial information*@

<body>
    <section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item active slide slide-1"></div>
                    <div class="carousel-item slide slide-2"></div>
                    <div class="carousel-item slide slide-3"></div>
                </div>
            </div><!--//hero-carousel-->
            <div class="hero-slider-mask"></div>
        </div><!--//hero-slider-wrapper-->
        <div class="container promo-content">
            <h2 class="headline">Fag el-Gamous Cemetery Database <br> BYU Egypt Excavation Project</h2>
            <p class="tagline">Having thorough records is a product of good research. Check out the data!</p>
            <div class="actions">
                <!-- <a class="btn btn-cta btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#signup">Burial Summary List & Records</a>-->
                <a class="btn btn-cta btn-primary" asp-action="BurialList">Burial Summary List & Records</a>
                <br class="d-sm-inline-block d-md-none">
                <a href="#" class="video-play-trigger" data-bs-toggle="modal" data-bs-target="#modal-video"><img class="play-icon" src="assets/images/play-icon.svg" alt="">See mummification in action!</a>
            </div>
        </div><!--//container-->
    </section><!--//promo-section-->

    <div class="sections-wrapper">

        <section id="overview-section" class="overview-section section">
            <h2 class="section-title">
                Why We Research
            </h2>
            <div class="section-intro">
                Brigham Young University (BYU) has a 25 year history in Fag el-Gamous, located in Egypt. The information that is being
                gathered in this rich region has an extreme importance in the archeological world. Research is currently being done in
                various respects: textiles, osteology, mummy remains, gender, age, bone dimensions, hair color, burial depth, and many 
                topics relating to the burials in Fag el-Gamous.
            </div><!--//section-intro-->
            <div class="figures-wrapper">
                <div class="container text-center">
                    <figure class="macbook-screen"><img class="img-fluid" src="assets/images/pillars.jpg" alt=""></figure>                    
                </div><!--//container-->
            </div><!--//figures-wrapper-->
            <div class="benefits-wrapper">
                <div class="container text-center">
                    <div class="row">
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/clock-white.svg" alt="">
                                <h3 class="item-title">Time Sensitive Data</h3>
                                <div class="item-desc">
                                    Once a burial has been dug up, it's gone forever.
                                    We ensure that our ongoing research is done in a time-sensitive manner.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/presenter-white.svg" alt="">
                                <h3 class="item-title">Visualizing Data</h3>
                                <div class="item-desc">
                                    Having the tools necessary in visualizing data and easily recording, sharing, 
                                    and storing that data is vital to our mission. 
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/chat-white.svg" alt="">
                                <h3 class="item-title">Sharing is Caring</h3>
                                <div class="item-desc">
                                    At BYU, we believe that sharing and documenting our findings benefits various
                                    groups of people. When you work together, history tends to unfold itself.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//benefits-->
        </section><!--//overview-section-->

        <div class="feature-blocks container">
            <div id="feature-block-1" class="feature-block feature-block-1">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12">
                        <h3 class="feature-title">Feature One Heading</h3>
                        <div class="feature-desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a class="text-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">Screenshot: Appify Bootstrap 4 Admin Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 text-md-end">
                        <div class="figure-holder">
                            <img class="img-fluid" src="assets/images/features/feature-1.jpg" alt="">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-1-->
            <div id="feature-block-2" class="feature-block feature-block-2">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12 order-md-5 order-1">
                        <h3 class="feature-title">Feature Two Heading</h3>
                        <div class="feature-desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a class="text-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">Screenshot: Appify Bootstrap 4 Admin Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 order-md-1 order-5">
                        <div class="figure-holder">
                            <img class="img-fluid" src="assets/images/features/feature-2.jpg" alt="">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-2-->
            <div id="feature-block-3" class="feature-block feature-block-3">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12">
                        <h3 class="feature-title">Feature Three Heading</h3>
                        <div class="feature-desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a class="text-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">Screenshot: Appify Bootstrap 4 Admin Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 text-md-end">
                        <div class="figure-holder">
                            <img class="img-fluid" src="assets/images/features/feature-3.jpg" alt="">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-3-->
            <div id="feature-block-4" class="feature-block feature-block-4">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12 order-md-5 order-1">
                        <h3 class="feature-title">Feature Four Heading</h3>
                        <div class="feature-desc">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a class="text-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">Screenshot: Appify Bootstrap 4 Admin Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 order-md-1 order-5">
                        <div class="figure-holder">
                            <img class="img-fluid" src="assets/images/features/feature-4.jpg" alt="">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-4-->

        </div><!--//feature-blocks-->

        <section class="apps-section section text-center">
            <h2 class="section-title">Want to Know More?</h2>
            <a class="btn btn-cta btn-primary" asp-controller="Home" asp-action="ContactPage">Contact us</a>

        </section><!--//apps-section-->

    </div><!--//section-wrapper-->
    <!-- Javascript -->
    <script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="~/assets/plugins/smoothscroll.min.js"></script>

    <script src="~/assets/js/main.js"></script>

    <!--//Page Specific JS -->
    <script src="~/assets/js/video.js"></script>
</body>