@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CarbonDating>

@*A landing page that describes the project and has a link to view the burial information*@

<body>
    <section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item active slide slide-1"></div>
                    <div class="carousel-item slide slide-2"></div>
                    <div class="carousel-item slide slide-3"></div>
                </div>
            </div><!--//hero-carousel-->
            <div class="hero-slider-mask"></div>
        </div><!--//hero-slider-wrapper-->
        <div class="container promo-content">
            <h2 class="headline">Fag el-Gamous Cemetery Database <br> BYU Egypt Excavation Project</h2>
            <p class="tagline">Having thorough records is a product of good research. Check out the data!</p>
            <div class="actions">
                <!-- <a class="btn btn-cta btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#signup">Burial Summary List & Records</a>-->
                <a class="btn btn-cta btn-primary" asp-action="BurialList">Burial Summary List & Records</a>
                <br class="d-sm-inline-block d-md-none">
                <a href="" class="video-play-trigger" data-bs-toggle="modal" data-bs-target="#modal-video"><img class="play-icon" src="assets/images/play-icon.svg" alt="Egyption Monuments in 4k resolution">Egypts Great Momunments</a>
            </div>
        </div><!--//container-->
    </section><!--//promo-section-->

    <div class="sections-wrapper">

        <section id="overview-section" class="overview-section section">
            <h2 class="section-title">
                Why We Research
            </h2>
            <div class="section-intro">
                Brigham Young University (BYU) has 25 years of history in Fag el-Gamous, located in Egypt. The information that is being
                gathered in this rich region has an extreme importance in the archeological world. Research is currently being done in
                various respects: textiles, osteology, mummy remains, gender, age, bone dimensions, hair color, burial depth, and many
                topics relating to the burials in Fag el-Gamous.
            </div><!--//section-intro-->
            <div class="figures-wrapper">
                <div class="container text-center">
                    <figure class="macbook-screen"><img class="img-fluid" src="assets/images/pillars.jpg" alt=""></figure>
                </div><!--//container-->
            </div><!--//figures-wrapper-->
            <div class="benefits-wrapper">
                <div class="container text-center">
                    <div class="row">
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/clock-white.svg" alt="">
                                <h3 class="item-title">Time Sensitive Data</h3>
                                <div class="item-desc">
                                    Once a burial has been dug up, it's gone forever.
                                    We ensure that our ongoing research is done in a time-sensitive manner.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/presenter-white.svg" alt="">
                                <h3 class="item-title">Visualizing Data</h3>
                                <div class="item-desc">
                                    Having the tools necessary in visualizing data and easily recording, sharing,
                                    and storing that data is vital to our mission.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item col-12 col-md-4">
                            <div class="item-inner">
                                <img class="item-icon" src="assets/images/icons/chat-white.svg" alt="">
                                <h3 class="item-title">Sharing is Caring</h3>
                                <div class="item-desc">
                                    At BYU, we believe that sharing and documenting our findings benefits various
                                    groups of people. When you work together, history tends to unfold itself.
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//benefits-->
        </section><!--//overview-section-->



        <div class="feature-blocks container">
            <div id="feature-block-1" class="feature-block feature-block-1">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12">
                        <h3 class="feature-title">Burials by Month</h3>
                        <div class="feature-desc">
                            <p>It's simply amazing to look and see 114 years worth of excavation data. We notice that in the past, many excavations were being performed as opposed to more recently, there's been less.
                            The information that is stored and excavated within each burials can tell us a different story about that generation and the ways they used to live.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 text-md-end">
                        <div class="figure-holder">
                            <img class="img-fluid" src="~/img/burials_by_month.png" alt="Burials by Month Image" height="650" width="800">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-1-->
            <div id="feature-block-2" class="feature-block feature-block-2">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12 order-md-5 order-1">
                        <h3 class="feature-title">Burials by Wrapping</h3>
                        <div class="feature-desc">
                            <p>Have you ever wondered how most mummies are wrapped? Well look no further. It's important to note that we consistently get good data on this (see the low number of "unkown"),
                            so we believe it to be pretty accurate. Most mummies are found to be either be wrapped fully or not wrapped at all, very few are partially wrapped.</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 order-md-1 order-5">
                        <div class="figure-holder">
                            <img class="img-fluid" src="~/img/burials_by_wrapping.png" alt="Burials by Wrapping Image" height="800" width="650">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-2-->
            <div id="feature-block-3" class="feature-block feature-block-3">
                <div class="row g-5">
                    <div class="feature-content col-xl-5 col-lg-4 col-md-6 col-12">
                        <h3 class="feature-title">Burial Depth by Gender</h3>
                        <div class="feature-desc">
                            <p>How about the depth in which different mummies are buried? We pulled an interesting statistic that helped us see into this. Male are, on average, buried .3 meters
                            deeper than their counterpart females. Why is this? Does it have religious origins? Is it tradition? Continue exploring our data to find out more!</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-xl-7 col-lg-8 col-md-6 col-12 text-md-end">
                        <div class="figure-holder">
                            <img class="img-fluid" src="~/img/burial_depth_by_gender.png" alt="Burial Depth by Gender Image" height="800" width="650">
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-3-->
        </div><!--//feature-blocks-->

        <section class="apps-section section text-center">
            <h2 class="section-title">Want to Know More?</h2>
            <a class="btn btn-cta btn-primary" asp-controller="Home" asp-action="ContactPage">Contact us</a>

        </section><!--//apps-section-->

    </div><!--//section-wrapper-->
    <!-- Javascript -->
    <script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="~/assets/plugins/smoothscroll.min.js"></script>

    <script src="~/assets/js/main.js"></script>

    <!--//Page Specific JS -->
    <script src="~/assets/js/video.js"></script>
</body>