@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<section class="heading-section section section-on-bg">
    <div class="hero-wrapper">
        <div class="list-hero-holder"></div>
        <div class="hero-mask-gradient"></div>
    </div><!--//hero-wrapper-->
    <div class="container heading-content">
        <h2 class="headline">@ViewData["Title"]</h2>
        <div class="meta">See details below</div>
    </div><!--//container-->
</section><!--//heading-section-->
<h1>@ViewData["Title"]</h1>