@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<section class="heading-section section section-on-bg">
    <div class="hero-wrapper">
        <div class="list-hero-holder"></div>
        <div class="hero-mask-gradient"></div>
    </div><!--//hero-wrapper-->
    <div class="container heading-content">
        <h2 class="headline">@ViewData["Title"]</h2>
        <div class="meta">See details below</div>
    </div><!--//container-->
</section><!--//heading-section-->
<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
